.count {
    color: lightgray;
}

.questionCard {
    margin: 7px;
    box-shadow: 0 10px 6px -6px #777;
    background: #f5f5f5;
}

.quizImage {
    max-height: 200px;
    max-width: 100%;
    object-fit: contain;
    margin: 10px 0px;
    display: block;
}

.heightAlign {
    display: flex;
    align-items: center;
    justify-content: left;
    height: 100%;
}